<%# sleep(2) %>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-between mb-3 border-0">
      <h5 class="modal-title" id="exampleModalLabel">Remove from Watch List</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p class="text-center">Are you sure you want to remove <%= @market_delete["name"] if @market_delete %> from Watchlist?</p>
      
    </div>
    <% if @market_delete %>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= button_to "Delete", delete_stock_from_market_path, method: :delete ,
          class: "btn btn-danger",
          params: { id: @market_delete["id"] } %>
      </div>
    <% end %>
  </div>
</div>
