<!-- about section -->
        <section class="py-7 bg-light" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-9 mx-auto text-center">
                       
                        <h2 class="display-4">Trading App that suits your needs</h2>
                        <p class="lead">Easy to learn application that has minimal transaction fees </p>
                    </div>
                </div>
                <div class="row p-4 mt-5 bg-white raised-box rounded">
                    
                    <div class="col-md-4 col-sm-6 mb-5 text-center">
                        <div class="icon-box">
                            <div class="icon-box-inner small-xs text-primary">
                                <span data-feather="globe" width="30" height="30"></span>
                            </div>
                        </div>
                        <h4 class="mt-2">Buy</h4>
                        <p>Buy stocks with minimal fees</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-5 text-center">
                        <div class="icon-box">
                            <div class="icon-box-inner small-xs text-primary">
                                <span data-feather="rotate-ccw" width="30" height="30"></span>
                            </div>
                        </div>
                        <h4 class="mt-2">Sell</h4>
                        <p>Sell stocks hassle free</p>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-5 text-center">
                        <div class="icon-box">
                            <div class="icon-box-inner small-xs text-primary">
                                <span data-feather="heart" width="30" height="30"></span>
                            </div>
                        </div>
                        <h4 class="mt-2">Premium support</h4>
                        <p>Online support available 24/7</p>
                    </div>
                    
                </div>
                
            </div>
        </section>