<!--hero header-->
<section class="home py-7 py-md-0 bg-hero" id="home">
    <div class="call-action-container container d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <div class="col my-md-auto text-center">
                <h1 class="display-2 text-white font-weight-bold">Trade Faster</h1>
                <h1 class="display-2 text-white font-weight-bold">Trade Smarter</h1>
                <p class="lead text-light my-4">Buy and Sell stocks with minimal fees</p>
                <%# <a href="#signup" class="btn btn-primary page-scroll">Get started now</a> %>
                <%= link_to "Get started now", new_user_session_path, class: "btn btn-primary page-scroll btn-lg", role:"button"%>
            </div>
        </div>
    </div>
</section>




        