.alert{
  z-index: 100;
}

section {
  // background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1))
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("parallex.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("parallex.jpg");
  // background: url("parallex.jpg") no-repeat, linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

.sign-container,
.call-action-container{
  min-height: 100vh;
}